*{
  margin: 0;
  padding: 0;
}
body{
  box-sizing: border-box;
}
.App{
  text-align: center;
}
.ant-col{
  padding-bottom: 10px;
}
.ant-pagination-options-size-changer{
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 1000;
}
.ant-row{
  margin-top: 40px;
}
.wrapper{
  display: block;
  margin: 30px;
  background-color: rgba(154, 149, 149, 0.09);
  padding: 10px;
  position: relative;
}
.image_wrapper{
  background: white;
  width: 100%;
  position: relative;
  height: 300px;
  display: flex;
  justify-content: center;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.24) 0 3px 8px;
}
.image_wrapper svg{
  position: absolute;
  z-index: 10000;
  bottom: 5px;
  right: 10px;
}
.image_wrapper img{
  /*position: absolute;*/
  width: 100%;
  object-fit: contain;
}
.pagination{
  margin: 20px auto;
  display: flex;
  justify-content: center;
}
.search-wrapper{
  margin: 30px auto;
  display: flex;
  justify-content: center;
  max-width: 500px;
}
.ant-input-group-addon button{
  display: none;
}
input{
  width: 100%;
  max-width: 400px;
}
.empty-state{
  display: block;
  text-align: center;
  margin: auto;
}